body {
    font-family: Arial, sans-serif;
    background-color: #FFCDB2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFB4A2;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #B5828C;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #E5989B;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #E5989B;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #B5828C;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #B5828C;
    text-decoration: none;
    font-weight: bold;
}

.hidden {
    display: none;
}
