
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#FFB4A2;
    --secondary-text-color:#FFB4A2;
    --accent-color:#B5828C;
    --accent-color-dark:#E5989B;
    --padding-inline-section:20px;
}

body{
    font-family: 'poppins',sans-serif;
    color:var(--primary-text-color)
}

h1{
    font-size: 4rem;
    color: #B5828C;

}

h2{
    font-size: 3rem;
    color: #B5828C;
}


h3{
    font-size: 1.5rem;
    color: #FFB4A2;
    margin: 10px 0px;
}
h4{
    font-size: 3rem;
    color: white;
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
}
h5{
    font-size: 3rem;
    color: #B5828C;
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
}
p{
    font-size:'Roboto', sans-serif ;
    font-size: 2;
    color: var(--secondary-text-color);
    line-height: 2rem;

}
span{
    color: #E5989B;
}

.redi{
    color: #B5828C;
}


a{
    text-decoration:none ;
    display: inline-block;
}
/*utility classes*/

ul{
    list-style: none;
}

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items:center;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: var(--accent-color)
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);   
    border-radius:10px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    border-color: var(--accent-color);
}

/*top banner*/
.top-banner{
    background-color: #B5828C;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
/*nav bar*/
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 80px;
    border-radius: 60rem;
    margin-top: 5px;
}

.nav-link{
    flex-basis: 730px;
    margin-left: 20vw;
}

.nav-link ul{
    justify-content: end;
    gap: 54px;
    position: relative;
    float: right;   
}

header{
    padding: 50px var(--padding-inline-section);

}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 35vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-started-btn{
    margin-top: 20px;
}

.header-right img{
    width: 500px;
}

.home_img{
    margin-left: 40px;
}

/*-----COMPANIES SECTION -----*/

.companies-header{
    text-align: center;
    margin-block: 30px;
    font-size: x-large;
    color: var(--primary-text-color);
}

.logo{
    height: 120px;
    width: 120px;
    border-radius: 50rem;
}

.logos{
    justify-content: space-between;
    margin: 2px 50px ;
    

}

/*---------------FEATURE SECTION-------*/


.feature-section{
    padding: 60px var(--padding-inline-section);
    margin: 10px;
}

.features-header{
    text-align: center;
}

.feature-header-text{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
    

}

.features-card{
    flex-direction:column ;
    gap: 20px;
    max-width: 30%;
    text-align:center;
    background-color: white;
    color: #B5828C;
    margin: 5px;
}

.features-card:hover{
 border-style: solid;
 border-color: #B5828C;
}

.featuresimg{
    margin: 30px;
    border-radius: 10%;
    width: 100px;
    height: 100px;
}

/*----------cta-section-container---------*/
.cta-section-container{
    height: 250px;
    color: white;
}
.cta-section{
    background-color: #B5828C;

}

.cta-section-container p{
    color: white;
    margin-top: 0px;
    
}

.cta-section-container2{
    height: 250px;
    color: #B5828C;
}
.cta-section2{
    background-color: white;

}

.cta-section-container2 p{
    color: #B5828C;
    margin-top: 0px;
    
}